/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Nanum+Pen+Script|Playfair+Display+SC:900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif; }

h1 {
  font-size: 72px; }

h3 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 28px; }

h2, p, ul, li, a {
  font-family: "IBM Plex Mono", monospace; }

div.nav-buttons i {
  color: #444444;
  transition: transform .3s ease-out; }
  div.nav-buttons i:hover {
    color: #CA7679 !important;
    transform: translateY(-5px); }

section {
  display: none;
  margin: 0 !important;
  padding: 0;
  width: 100%;
  height: 100vh; }

section.active {
  display: block; }

#intro {
  background-color: #FFFFFF; }
  #intro h3 {
    color: #444444; }
  #intro div.story {
    width: 66.6%;
    margin: 0 auto 0 auto;
    position: relative;
    top: 40%;
    display: none;
    text-align: center; }
    #intro div.story.active {
      display: block; }
  #intro div.nav-buttons {
    position: absolute;
    bottom: 33.3%;
    width: 100%;
    text-align: center; }
    #intro div.nav-buttons i {
      font-size: 36px; }

#selection > div {
  height: 100vh;
  overflow: hidden; }
#selection div#content {
  background: url(../assets/images/17040030_bw.jpg) center 105%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: white;
  padding-left: 2%; }
  #selection div#content h1 {
    position: absolute;
    top: 0; }
    #selection div#content h1 > span {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      display: inline-block; }
  #selection div#content h2.sub {
    font-size: 25px;
    position: absolute;
    top: 50%;
    display: none; }
    #selection div#content h2.sub.active {
      display: block; }
#selection div#map-nav > div.row {
  height: 100%; }
  #selection div#map-nav > div.row > div:nth-child(1) {
    height: 90%; }
  #selection div#map-nav > div.row > div:nth-child(2) {
    background-color: #444444;
    height: 10%; }
#selection div.nav-buttons {
  text-align: center;
  position: relative;
  top: 20%; }
  #selection div.nav-buttons i {
    color: white;
    font-size: 32px;
    padding: 5px; }
#selection #see-images {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding: 30px 10px 10px 10px;
  position: relative;
  left: 93%;
  cursor: pointer;
  -webkit-transition: left .3s ease-out, color .3s ease-out;
  /* Safari */
  transition: left .3s ease-out, color .3s ease-out; }
  #selection #see-images:hover {
    color: #CA7679;
    left: 95%; }
  #selection #see-images.hidden {
    display: none; }

#gallery {
  background-color: #444444;
  position: absolute;
  left: 33.33333333%;
  top: 0;
  display: none; }
  @media only screen and (max-width: 1200px) {
    #gallery {
      left: 33.33333333%;
      top: 0; } }
  @media only screen and (max-width: 992px) {
    #gallery {
      left: 50%;
      top: 0; } }
  @media only screen and (max-width: 768px) {
    #gallery {
      left: 50%;
      bottom: 0; } }
  @media only screen and (max-width: 767px) {
    #gallery {
      left: 0;
      bottom: 0; } }
  #gallery #back-to-map {
    transform: rotate(-90deg);
    position: relative;
    width: 126px;
    left: -44px;
    top: 61px;
    padding: 10px;
    color: white;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: left .3s ease-out, color .3s ease-out;
    /* Safari */
    transition: left .3s ease-out, color .3s ease-out; }
    #gallery #back-to-map:hover {
      color: #CA7679;
      left: -54px; }
  #gallery > div {
    display: none; }
    #gallery > div.active {
      display: block; }
  #gallery #yg-gallery, #gallery #kw-gallery, #gallery #mm-gallery {
    width: 95%;
    position: relative;
    left: 48px;
    top: -14px;
    margin: 0;
    max-height: 95vh;
    overflow: scroll; }
    #gallery #yg-gallery .row, #gallery #kw-gallery .row, #gallery #mm-gallery .row {
      width: 100%; }
      #gallery #yg-gallery .row > div, #gallery #kw-gallery .row > div, #gallery #mm-gallery .row > div {
        padding: 0px 3px 0px 0px;
        overflow: hidden; }
    #gallery #yg-gallery img, #gallery #kw-gallery img, #gallery #mm-gallery img {
      width: 100%;
      cursor: pointer;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      transition: filter .5s ease-in-out; }
      #gallery #yg-gallery img:hover, #gallery #kw-gallery img:hover, #gallery #mm-gallery img:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0); }

/*# sourceMappingURL=style.css.map */
