#intro {
  background-color: $white;

  h3 {
    color: $black;
  }

  div.story {
    width: 66.6%;
    margin: 0 auto 0 auto;
    position: relative;
    top: 40%;
    display: none;
    text-align: center;

    &.active {
      display: block;
    }
  }

  div.nav-buttons {
    position: absolute;
    bottom: 33.3%;
    width: 100%;
    text-align: center;
    i {
      font-size: 36px;
    }

    &.hidden {
      visibility: hidden;
    }
  }
}
