#selection {
  > div {
    height: 100vh;
    overflow: hidden;
  }

  div#content {
    background: url(../assets/images/17040030_bw.jpg) center 105%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    // opacity: 0.5;
    background-color: white;
    padding-left: 2%;

    h1 {
      position: absolute;
      top: 0;

      > span {
        @include transform-style(preserve-3d);
        @include perspective(1000px);
        display: inline-block;
        // opacity: 0;
      }
    }
  }

  div#map-nav>div.row {
    height: 100%;

    > div:nth-child(1) {
      height: 90%;
    }

    > div:nth-child(2) {
      background-color: $black;
      height: 10%;
    }
  }

  div.nav-buttons {
    text-align: center;
    position: relative;
    top: 20%;

    i {
      color: white;
      font-size: 32px;
      padding: 5px;
    }
  }
}
