// Fonts
$font-nanum: 'Nanum Pen Script', cursive;
$font-play: 'Playfair Display SC', serif;
$font-ibm: 'IBM Plex Mono', monospace;

// Colours
$highlight: #CA7679;
$blue-shade1: #8CA0A1;
$blue-shade2: #A1BCB6;
$blue-shade3: #BED2CD;
$white: #FFFFFF;
$black: #444444;
