// Fonts
$font-nanum: 'Nanum Pen Script', cursive;
$font-open: 'Open Sans', sans-serif;

// Colours
$highlight: #CBAC94;
$blue-shade1: #8CA0A1;
$blue-shade2: #A1BCB6;
$blue-shade3: #BED2CD;
$black: #625E49;
